/* App.css */

body {
  background-color: #f8f9fa; /* Color de fondo para toda la aplicación */
}

.container {
  margin-top: 50px; /* Margen superior para centrar el contenido */
}

h1 {
  color: #007bff; /* Color del título principal */
}

h2 {
  color: #343a40; /* Color de los títulos secundarios */
}

.btn-primary {
  background-color: #007bff; /* Color de fondo del botón principal */
  border-color: #007bff; /* Color del borde del botón principal */
}

.btn-primary:hover {
  background-color: #0056b3; /* Color de fondo del botón principal al pasar el ratón */
  border-color: #0056b3; /* Color del borde del botón principal al pasar el ratón */
}

/* App.css */
.custom-width {
  width: 150px; /* Ajusta el valor según el ancho deseado */
}
